#{extends 'main.html' /}
#{set title:'Blogger: Dashboard' /}

#{mainMenu /}
#{ header user:user /}
#{dashboardMenu id:"dashboard", blog:blog  /}

<section id="main">
  <h1 class="ui block header">Blog Dashboard</h1>
  <table class="ui collapsing table segment">
    <thead>
      <tr>
        <th> Blog URL </th>
        <th>
          #{if (blog.posts.size() == 0 ) && (blog.pages.size() > 0) }
            localhost:9000/ ${blog.url}/${blog.pages.get(0).url}
          #{/if}
          #{else}
            localhost:9000/ ${blog.url}
          #{/else}
        </th>        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Posts</td>
        <td id="posts">${blog.posts.size()}</td>
      </tr>
      <tr>
        <td>Pages</td>
        <td>${blog.pages.size()}</td>
      </tr>
      <tr>
        <td>Comments</td>
        <td>${blog.numComments}</td>
      </tr>
      <tr>
        <td>Views</td>
        <td>${blog.views}</td>
      </tr>
    </tbody>
  </table>
  <a class="ui medium red button" href="/dashboard/delete/${blog.id}">Delete Blog</a>
</section>