#{extends 'main.html' /}
#{set title:'Blogger: Pages' /}

#{mainMenu /}
#{ header user:user /}

#{dashboardMenu id:"comments", blog:blog /}

<section id="main">
  <h1 class="ui block header">Comments</h1>
  
  #{list items:blog.posts, as:'post'}
    #{ if post.comments.size() > 0}
      <div class="ui top attached inverted ${blog.colour} header">
        ${post.title}
        <span class="floatright">Posted: ${post.date}</span>
      </div>
      <div class="ui bottom attached segment">
        #{comments post:post, showDeleteButton:true /}
      </div>
    #{/if}
  #{/list}
</section>