.floatright {
	float: right;
}

.floatleft {
	float:left;
}

/* #colourButton { */
/* 	float:left; */
/* 	margin: 1%; */
/* } */

.colourButton {
	float:left;
	margin: 1%;
}

.error {
	color: #cc0000;
}

.required {
	border: 1px solid red;
}

#pagesMenu, #dashboardMenu, #blogger {
	float:left;
	width: 15%;
	clear: left;
	margin-left: 20px;
}

#blogsHeader {
	margin-left: 20px;
	margin-right: 20px;
}

#main {
	width:80%;
	float:right;
}

#commentSection {
	margin-left: 10%;
}

h1 a{
	color: inherit;
}

img, embed {
	display:block;
	margin: 10px auto; 
}

#avatar {
	width: 100%;
	margin : 0px;
}

#blogger h3,
#blogger h5 {
	margin: 10px 0px;
}

#hiddenSection {
	margin: 0px 20px 20px 20px;
	padding: 20px;
}

#hiddenSection div {
	margin: 0px;
	padding: 5px;
}
