#{extends 'main.html' /}
#{set title:'Blogger: Home' /}

#{mainMenu /}
#{ header user:user /}

<!-- <h1 id="blogsHeader">${user.firstName}'s Blogs -->
<!--   #{ if user.blogs.size() > 0} -->
<!--     <button id="newBlogButton" class="ui medium black button" -->
<!--     onclick="showAddBlogForm('addBlog', 'blogsHeader', 'newBlogButton')">New Blog</button> -->
<!--   #{/if} -->
<!-- </h1> -->

#{ if user.blogs.size() == 0}
  #{newUser /}

#{/if}

#{ else }
<section>
#{list items:user.blogs, as:'blog'}
  <div class="ui segment">
    <a class="ui black small button floatright" href="/${blog.url}" target="_blank">View Blog</a>
    <a class="ui black small button floatright" href="/posts/list/${blog.id}">List Posts</a>
    <a class="ui black small button floatright" href="/posts/create/${blog.id}"> New Post </a>
    <a href="/dashboard/${blog.id}">${blog.title}, ${blog.url}</a>
    #{ if blog.posts.size() > 0}    
      <p> Last Edited: ${blog.posts.get(0).date} </p>    
    #{/if}
    #{ else }
      <p> No Posts Yet!</p>
    #{/else}
  </div>
#{/list}
</section>
#{/else}

<script>
$('.ui.form')
  .form({
    title: {
      identifier : 'title',
      rules: [
        {
          type   : 'empty',
          prompt : 'Your Blog must have a title'
        }
      ]
    },
    description: {
      identifier : 'description',
      rules: [
        {
          type   : 'empty',
          prompt : 'Please provide a brief description of your blog'
        }
      ]
    }
  },
    {
      inline: 'true'
    }
  )
;
</script>