#{extends 'main.html' /}
#{set title:'Blogger: Settings' /}

#{mainMenu /}
#{header user:user /}
#{dashboardMenu id:"settings" , blog:blog/}

<section id="main">
  <h1 class="ui block header"> Personalise your Blog here </h1>
  
  <h3 class="ui dividing header"> Choose a menu layout for your pages</h3>
  
  <div class="ui fluid menu">
    <div class="item">Blog</div>
    <div class="item">About the Author</div>
    <div class="item">Contact</div>
    <a class="active item" href="/settings/${blog.id}/fluid" target="_blank"> Select This Style</a>
  </div>
    
  <div class="ui vertical menu">
    <div class="item">Blog</div>
    <div class="item">About the Author</div>
    <div class="item">Contact</div>
    <a class="active item" href="/settings/${blog.id}/vertical" target="_blank"> Select This Style</a>
  </div>
  
  <h3 class="ui dividing header"> Choose a colour theme for your blog</h3>
  
  <form class="colourButton" action="/settings/${blog.id}/black" method="POST"  target="_blank">
    <button class="ui tiny black button">Select</button>
  </form>
  
  <form class="colourButton" action="/settings/${blog.id}/yellow" method="POST" target="_blank">
    <button class="ui tiny yellow button">Select</button>
  </form>
  
  <form class="colourButton" action="/settings/${blog.id}/green" method="POST" target="_blank">
    <button class="ui tiny green button">Select</button>
  </form>
  
  <form class="colourButton" action="/settings/${blog.id}/blue" method="POST" target="_blank">
    <button class="ui tiny blue button">Select</button>
  </form>
  
  <form class="colourButton" action="/settings/${blog.id}/orange" method="POST" target="_blank">
    <button class="ui tiny orange button">Select</button>
  </form>
  
  <form class="colourButton" action="/settings/${blog.id}/purple" method="POST" target="_blank">
    <button class="ui tiny purple button">Select</button>
  </form>
  
  <form class="colourButton" action="/settings/${blog.id}/red" method="POST" target="_blank">
    <button class="ui tiny red button">Select</button>
  </form>
  
  <form class="colourButton" action="/settings/${blog.id}/pink" method="POST" target="_blank">
    <button class="ui tiny pink button">Select</button>
  </form>
  
  <form class="colourButton" action="/settings/${blog.id}/teal" method="POST" target="_blank">
    <button class="ui tiny teal button">Select</button>
  </form>
</section>