#{extends 'main.html' /}
#{set title:'Blogger: Pages' /}

#{mainMenu /}
#{ header user:user /}
#{dashboardMenu id:"pages", blog:blog /}

<section id="main">
<!-- <h1 id="pagesHeader" class="ui block header"> -->
<!--   Pages -->
<!--   #{ if blog.pages.size() > 0} -->
<!--     <button id="newPageButton" class="ui medium red floatright button" -->
<!--     onclick="showAddPageForm('addPage', 'pagesHeader', 'newPageButton')">New Page</button> -->
<!--   #{/if} -->
<!-- </h1> -->

  #{ if blog.pages.size() == 0}
    #{noPages blog:blog /}
  #{/if}
  
  #{ else }
  
    <h1 id="pagesHeader" class="ui block header">
    Pages
      <button id="newPageButton" class="ui medium red floatright button"
      onclick="showAddPageForm('addPage', 'pagesHeader', 'newPageButton')">New Page</button>
    </h1>
    
    <div>
      <form  class="ui form "id="addPage" action='/pages/newpage/${blog.id}' method='POST'>
      </form>
    </div>
    
    <section>
    #{list items:blog.pages, as:'page'}
      <div class="ui segment">
        <a class="ui tiny red floatright button" href="/pages/delete/${page.id}">Delete</a>
        <a href="/${blog.url}/${page.url}" target="_blank">${page.title}</a>
      </div>
    #{/list}
    </section>
  #{/else }
</section>

<script>
$('.ui.form')
  .form({
    title: {
      identifier : 'title',
      rules: [
        {
          type   : 'empty',
          prompt : 'Your Page must have a title'
        }
      ]
    },
    description: {
      identifier : 'content',
      rules: [
        {
          type   : 'empty',
          prompt : 'Your page must have some content'
        }
      ]
    },
    image: {
        identifier: "imageUrl",
        optional: true,
        rules: [
          {
      	  type : 'url',
      	  prompt : 'Please enter a valid URL (e.g. https://www.myblog.com)'		
          }
        ]
      },
      video: {
        identifier: "videoUrl",
        optional: true,
        rules: [
          {
            type : 'url',
        	prompt : 'Please enter a valid URL (e.g. https://www.myblog.com)'		
          }
        ]
      },
    },
    {
      inline: 'true'
    }
  )
;
</script>

