<div class="ui dropdown item">
  <i class="dropdown icon"></i> Account
  <div class="ui menu">
    <a class="item" href="/editaccount"><i class="settings icon"></i>Edit Account</a> 
    <a class="item" href="/logout"><i class="sign out icon"></i>Logout</a>
  </div>
</div>