<section id="blogger">
  <h1 class="ui ${_blog.colour} top attached inverted header">
  ${_blog.blogger.firstName} ${_blog.blogger.lastName}
    </h1>
  <div class="ui bottom attached ${_blog.colour} segment">
    <h3 class="ui  ${_blog.colour} header">${_blog.blogger.about}</h3>
    <img id="avatar" class="ui rounded image" src="${_blog.blogger.avatarUrl}">
    <h5 class="ui  ${_blog.colour} header">${_blog.blogger.firstName}'s Blogs</h5>
    #{list items:_blog.blogger.blogs, as:'blog'}
      <a href="/${blog.url}">${blog.title}</a><br>
    #{/list}
    
  </div>
</section>