<section id="main">
<form action="/settings/${_blog.id}/_colour" method="POST">
  <h4 class="ui _colour header floatleft">Colour Blog</h4>
  <button class="ui tiny _colour button floatright">Select</button>
</form>
</section>
<br>