<section id="commentSection" class="ui comments">
  <h3 class="ui ${_post.blog.colour} header">Comments</h3>
  #{if _post.comments.size() >0}
    #{list items:_post.comments, as:'comment'}
      <div class="comment">
          <form class="deleteButton" action="/comments/delete/${comment.id}" method="POST"></form>
          <a class="avatar">
            <img class="ui circular avatar image" src="${comment.author.avatarUrl}">
          </a>
          <div class="content">
            <a class="author">${comment.author.firstName} ${comment.author.lastName}</a>
            <div class="metadata">
              <div class="date">${comment.date}</div>
            </div>
            <div class="text">
              ${comment.content}
            </div>
          </div>
          <div class="ui divider"></div>
        </div>
        
        <script>
          if (${_showDeleteButton} == true) {
              var buttons = document.getElementsByClassName("deleteButton");  
              for (i = 0; i < buttons.length; i++) {
                buttons[i].innerHTML = ("<button class='ui mini red submit button floatright'>Delete</button>");
              }
          }
            </script>
        
      #{/list}
    #{/if}
</section>