<section id=dashboardMenu>
  <h2 class="header item"> ${_blog.title} </h2>
  <nav class="ui vertical fluid  menu">
    <a id="dashboard" class="item" href="/dashboard/${_blog.id}">Dashboard</a>
    <a id="newPost" class="item" href="/posts/create/${_blog.id}">New Post</a>
    <a id="posts" class="item" href="/posts/list/${_blog.id}">Posts</a>
    <a id="pages" class="item" href="/pages/list/${_blog.id}">Pages</a>
    <a id="comments" class="item" href="/comments/${_blog.id}">Comments</a>
    <a id="settings" class="item" href="/settings/${_blog.id}">Settings</a>
  </nav>
</section>

<script>
  $("#${_id}").addClass("active item");
</script>