<h1 id="blogsHeader" class="ui inverted red block fluid header">
  <a href="/home">${_user.firstName}'s Blogs</a>
  #{ if _user.blogs.size() > 0}
    <button id="newBlogButton" class="ui medium red button floatright"
    onclick="showAddBlogForm('addBlog', 'blogsHeader', 'newBlogButton')">New Blog</button>
  #{/if}
</h1>

<div id="addBlog">
</div>