<nav id="menu" class="ui inverted menu">
  <header class="header item">Blogger</header>
  <div class="right menu">
    <a id="signup" class="item" href="/signup">Sign Up</a>
    <a id="login" class="item" href="/login">Login</a>
  </div>
</nav>

<script>
  $("#${_id}").addClass("active item");
</script>