<nav id="menu" class="ui inverted menu">
  <header class="header item"> Blogger </header>
  <div class="right menu">
    #{accountMenu /}
  </div>
</nav>

<script>
  $("#${_id}").addClass("active item");
</script>