<section class="ui form segment">
  <h2 class="ui block header">Welcome to Blogger</h2>
  <p>Looks like you haven't set up any blogs yet. Get started by setting up your first blog now!</p>
  <form class="ui form" action="/newblog" method="POST">
    <div class="field">
      <label> Enter a title for your blog</label>
      <input id="title" type="text" name="blog.title"></input>
    </div>
    <div class="field">
      <label>Enter a brief description to tell people what your blog is about</label>
      <textarea id="description" name="blog.description" ></textarea>
    </div>
    <button class="ui button black submit labeled icon"><i class="icon edit"></i> Create </button>
  </form>
</section>