<section class="ui form segment">
  <h2 class="ui block header">Pages</h2>
  <p>Looks like you haven't created any pages. Pages have similar content to posts but they are used 
  to create a static web page on your blog. Pages appear in a menu on your blog page. Thus you can use multiple
  pages to build up a website.</p>
  <form class="ui form" action="/pages/newpage/${_blog.id}" method="POST">
    <div class="field">
      <label> Enter a title for your page</label>
      <input id="title" type="text" name="page.title"></input>
    </div>
    <div class="field">
      <label>Enter the main content for your page. This will be the text to appear on the page</label>
      <textarea id="content" name="page.content" ></textarea>
    </div>
    <div class="field">
      <label>If you would like to add an image to your page, simply paste the direct link from 
      an image hosting website into the field below</label>
      <input id="imageUrl" type="text" name="page.imageUrl" placeholder="URL"></input>
    </div>
    <div class="field">
      <label>If you would like to add a youtube video to your page, simply paste the URL
      from the "Share" field into the field below</label>
      <input id="videoUrl" type="text" name="page.videoUrl" placeholder="URL"></input>
    </div>
    <button class="ui button black submit labeled icon"><i class="icon edit"></i> Create </button>
  </form>
</section>

