<nav id="pagesMenu" class="ui ${_blog.menuLayout} inverted ${_blog.colour} menu">
#{list items:_blog.pages, as:'menuPage' }
  <a id="${menuPage.url}" class="item" href="/${_blog.url}/${menuPage.url}">${menuPage.title}</a>  
#{/list}
</nav>

<script>
  $("#${_id}").addClass("active item");  
</script>