#{extends 'main.html' /}
#{set title:'Blogger: New Post' /}

#{mainMenu /}
#{ header user:user /}
#{dashboardMenu id:"newPost", blog:blog  /}

<section id="main" class="ui form">
  <h1 class="ui block header">Create a Post</h1>
  <form class="ui form" action="/posts/newpost/${blog.id}" method="POST">
    <div class="field">
      <input type="text" id="title" name="title" placeholder="Title"></input>
    </div>
    <div class="field">
      <textarea name="content" id="content" placeholder="Content"></textarea>
    </div>
    <div class="field">
      <label>If you would like to add an image to your post, simply paste the direct link from 
      an image hosting website into the field below</label>
      <input type="text" id="imageUrl" name="imageUrl" placeholder="URL"></input>
    </div>
    <div class="field">
      <label>If you would like to add a youtube video to your post, simply paste the URL
      from the "Share" field into the field below</label>
      <input type="text" id="videoUrl" name="videoUrl" placeholder="URL"></input>
    </div>
    <button class="ui button black submit labeled icon"><i class="icon edit"></i> Create </button>
  </form>
</section>

<script>
$('.ui.form')
  .form({
    title: {
      identifier  : 'title',
      rules: [
        {
          type   : 'empty',
          prompt : 'Please give your post a title'
        }
      ]
    },
    content: {
      identifier  : 'content',
      rules: [
        {
          type   : 'empty',
          prompt : 'Your post must contain some content'
        }
      ]
    },
    imageUrl: {
      identifier : 'imageUrl',
      optional : 'true',
      rules: [
        {
          type   : 'url',
          prompt : 'Please enter a valid URL (e.g. https://www.myblog.com)'
        }
      ]
    },
    videoUrl: {
  	  identifier : 'videoUrl',
  	  optional : 'true',
  	  rules: [
  	    {
  		  type : 'url',
  		  prompt : 'Please enter a valid URL (e.g. https://www.myblog.com)'		
  	    }
  	  ]
    },
  },
  {
  	inline: 'true'
  }
)
;
</script>