#{extends 'main.html' /}
#{set title:'Blogger: Posts' /}

#{mainMenu /}
#{ header user:user /}
#{dashboardMenu id:"posts", blog:blog /}

<section id="main">
  <h1 class="ui block header">Posts</h1>
  #{list items:blog.posts, as:'post'}
    <div class="ui segment">
      <a class="ui tiny red floatright button" href="/posts/delete/${post.id}">Delete</a>
      <a href="/posts/view/${post.id}">${post.title}</a>
      <br>
      Posted: ${post.date}
    </div>
  #{/list}
</section>