#{extends 'main.html' /}
#{set title:'Blogger: Posts' /}

#{mainMenu /}
#{ header user:user /}
#{dashboardMenu id:"posts" , blog:post.blog/}

<section id="main">
  <h1 class="ui top attached block segment">${post.title}</h1>
  <div class="ui bottom attached segment">
    ${post.content}
    #{if post.imageUrl.length() > 0}
    <img class="ui large image" src=${post.imageUrl}>
    #{/if}
    #{if post.videoUrl.length() > 0}
    <embed width="560" height="315" src="${post.videoUrl}">
    #{/if}
  </div>
  #{comments post:post /}
</section>