#{extends 'main.html' /}
#{set title:'Blogger: Home' /}

#{ if session.contains("logged_in_userid")}
  #{mainMenu /}
#{/if}
#{else}
  #{landingMenu /}
#{/else}

<h1 id="blogsHeader" class="ui ${blog.colour} header"><a href="/${blog.url}">${blog.title}</a></h1>
#{pagesMenu id:"", blog:blog /}

<section id="main">
#{list items:blog.posts, as:'post'}
  <div class="ui top attached inverted ${blog.colour} header">
    ${post.title}
    <span class="floatright">Posted: ${post.date}</span>
  </div>
  <div class="ui bottom attached segment">
    ${post.content}
    #{if post.imageUrl.length() > 0}
    <br>
    <img class="ui large image" src=${post.imageUrl}>
    #{/if}
    #{if post.videoUrl.length() > 0}
    <br>
    <embed width="560" height="315" src="${post.videoUrl}">
    #{/if}
    #{comments post:post, showDeleteButton:false /}
  </div>
  #{ if session.contains("logged_in_userid")}
    <form action="/blog/newcomment/${post.id}" method="post">
      <textarea name="content" rows=1 placeholder="Leave a Comment"></textarea>
      <input class="ui mini ${blog.colour} submit button" type="Submit">
    </form>
  #{/if}
#{/list}
</section>

#{blogger blog:blog /}

