#{extends 'main.html' /}
#{set title:'Blogger' /}

#{ if session.contains("logged_in_userid")}
  #{mainMenu /}
#{/if}
#{else}
  #{landingMenu /}
#{/else}


<h1 id="blogsHeader" class="ui ${blog.colour} header"><a href="/${blog.url}">${blog.title}</a></h1>
#{pagesMenu id:"${page.url}", blog:page.blog /}

<section id="main">
  <div class="ui ${blog.colour} segment">
    ${page.content}
    #{if page.imageUrl.length() > 0}
    <br>
    <img class="ui large image" src=${page.imageUrl}>
    #{/if}
    #{if page.videoUrl.length() > 0}
    <br>
    <embed width="560" height="315" src="${page.videoUrl}">
    #{/if}
  </div>
</section>

#{blogger blog:blog /}