#{extends 'main.html' /}
#{set title:'Blogger: Account' /}

#{mainMenu user:user /}

<h1>Edit Account Details Here</h1>

<section class="ui form">
<form action="/editprofile/change" method="POST">
  <div class="two fields">
    <div class="field">
      <label>First Name</label>
      <input type="text" name="user.firstName" value="${user.firstName}">
    </div>
    <div class="field">
      <label>Last Name</label>
      <input type="text" name="user.lastName" value="${user.lastName}">
    </div>
  </div>
  <div class="field">
    <label>About Me</label>
    <input type="text" name="user.about" value="${user.about}">
  </div>
  <div class="field">
    <label>Avatar</label>
    <input type="text" name="user.avatarUrl" value="${user.avatarUrl}">
  </div>
  <div class="field">
    <label>Email</label>
    <input type="text" name="user.email" value="${user.email}">
  </div>
  <div class="field">
    <label>Password</label>
    <input type="password" name="user.password">
  </div>
  <button class="ui black submit button">Submit</button>
</form>
</section>