#{extends 'main.html' /}
#{set title:'Blogger: Log In' /}

#{landingMenu id:"login" /}

<form class="ui form" action="/authenticate" method="POST">
  <div class="field">
    <label> Username: </label> <input id="username" type="text" name="username">
  </div>
  <div class="field">
    <label> Password: </label> <input id="password" type="password" name="password">
  </div>
  <button class="ui black submit button">Login</button>
</form>

<script>
$('.ui.form')
  .form({
    username: {
      identifier : 'username',
      rules: [
        {
          type   : 'empty',
          prompt : 'Please enter a username'
        }
      ]
    },
    password: {
      identifier : 'password',
      rules: [
        {
          type   : 'empty',
          prompt : 'Please enter a password'
        }
      ]
    }
  },
    {
      inline: 'true'
    }
  )
;
</script>
