#{extends 'main.html' /} #{set title:'Blogger: Sign Up' /} #{landingMenu
id:"signup" /}

<form class="ui form" action="/register" method="POST">
  <h4 class="ui dividing header">Personal Information</h4>
  <div class="two fields">
    <div class="field">
      <label>First Name</label> <input id="firstName" type="text"
        name="user.firstName">
    </div>
    <div class="field">
      <label>Last Name</label> <input id="lastName" type="text"
        name="user.lastName">
    </div>
  </div>
  <div class="field">
    <label>Enter a short sentence about yourself to tell your
      readers who you are</label> <input id="about" type="text"
      name="user.about">
  </div>
  <div class="field">
    <label>Paste the URL here for an avatar image</label> <input
      id="avatarUrl" type="text" name="user.avatarUrl">
  </div>
  <div class="two fields">
    <div class="field">
      <label>Email</label> <input id="email" type="text"
        name="user.email">
    </div>
  </div>
  <h4 class="ui dividing header">Account Information</h4>
  <div class="two fields">
    <div class="field">
      <label>Please Choose a Username</label> <input id="username"
        type="text" name="user.username">
    </div>
  </div>
  <div class="two fields">
    <div class="field">
      <label>Choose a password</label> <input id="password1"
        type="password" name="user.password">
    </div>
    <div class="field">
      <label>Please confirm your password</label> <input id="password2"
        type="password" name="password2">
    </div>
  </div>
  <button class="ui submit button">Sign Up</button>
</form>

<script>
$('.ui.form')
  .form({
    firstName: {
      identifier  : 'firstName',
      rules: [
        {
          type   : 'empty',
          prompt : 'Please enter your first name'
        }
      ]
    },
    lastName: {
      identifier  : 'lastName',
      rules: [
        {
          type   : 'empty',
          prompt : 'Please enter your last'
        }
      ]
    },
    about: {
      identifier : 'about',
      rules: [
        {
          type   : 'empty',
          prompt : 'Please enter a short desciption of yourself'
        }
      ]
    },
    email: {
  	  identifier : 'email',
  	  rules: [
  	    {
  		  type : 'empty',
  		  prompt : 'Please enter your email address'		
  	    }
  	  ]
    },
    avatar: {
      identifier: "avatarUrl",
      optional: true,
      rules: [
        {
    	  type : 'url',
    	  prompt : 'Please enter a valid URL (e.g. https://www.myblog.com)'		
        }
      ]
    },
    username: {
      identifier : 'username',
      rules: [
        {
          type	 : 'empty',
          prompt : 'Please choose a username'
        }
      ]
    },
    password1: {
      identifier : 'password1',
      rules: [
        {
          type   : 'empty',
          prompt : 'Please enter a password'
        },
        {
          type   : 'length[6]',
          prompt : 'Your password must be at least 6 characters'
        }
      ]
    },
    password2: {
        identifier : 'password2',
        rules: [
          {
            type   : 'empty',
            prompt : 'Please enter a password'
          },
          {
            type   : 'match[password1]',
            prompt : 'Your passwords do not match'
          }
        ]
      }
  },
  {
  	inline: 'true'
  }
)
;
</script>

